[Desktop Entry]
Comment=KDE Plasma Splash Screen based on Manjaro Cat wallpaper and Manjaro Logo
Name=Manjaro-Cat
X-KDE-PluginInfo-Author=Rolando Ramos Torres
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=rolando@triclick.co
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-Name=Manjaro-Cat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/rolodoom/plasma-splash
X-KDE-ServiceTypes=Plasma/LookAndFeel
