[Desktop Entry]
Comment=KDE Plasma Splash Screen based on a OS X Catalina Dark Wallpaper and the Manjaro Logo
Name=Catalina-Dark-Manjaro
X-KDE-PluginInfo-Author=Rolando Ramos Torres
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=rolodoom@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-Name=Catalina-Dark-Manjaro
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/rolodoom/plasma-splash
X-KDE-ServiceTypes=Plasma/LookAndFeel
